:root {
  --color1: #2c3e50;
  --color2: #34495e;
  --color3: #7f8c8d;
  --color4: #95a5a6;
  --color5: #ecf0f1;
}
html {
  background-image: linear-gradient(to bottom right, var(--color1), var(--color2));
  font-family: sans-serif;
}
body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 80vw;
  align-items: center;
}
.container {
  margin-left: 200px;
  margin-right: 200px;
}
.header {
  color: var(--color4);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: dashed;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom-width: 2px;
  min-width: 80vw;
}
.header h1{
  font-weight: bold;
  margin-left: 20px;
}
.links {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
}
.links li {
  padding: 5px;
}
li a {
  color: var(--color4);
  text-decoration: none;
}
li a:hover {
  color: var(--color5)
}
.content {
  height: 35vw;
  color: var(--color4);
  display: flex;
  justify-content: left;
  margin: 0px 30px;
}
.welcome-text {
  line-height: 1.5em;
}
.footer {
  color: var(--color4);
  padding: 15px;
  text-align: center;
  width: 100%;
  border-top-style: dashed;
  border-top-width: 2px;
  bottom: 0;
}