:root {
  --color1: #2c3e50;
  --color2: #34495e;
  --color3: #7f8c8d;
  --color4: #95a5a6;
  --color5: #ecf0f1;
}
body {
  background-image: linear-gradient(to right, var(--color4), var(--color3));
  margin: 0;
}
.header {
  background-color: var(--color1);
  color: var(--color4);
  padding: 20px;
}
.header h1{
  font-weight: bold;
}
.content {
  height: 35vw;
  padding-top: 20px;
  padding-left: 20px;
}
.footer {
  background-color: var(--color1);
  color: var(--color3);
  padding: 15px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}